<!DOCTYPE html>

<html lang = "en">

  <head>

      <meta charset = "utf-8">
      <title>TinyApp</title>

  </head>


  <body>

      <header>
        <% include partials/_header%>

      </header>

      <ul style = "list-style-type: none;">
        <% for (let i in urls) {%>

        <li style = "margin: 5px;">
          <%= i %> &#8594; <%= urls[i]%>

            <a href = "/urls/<%= i %>">Edit</a>

            <!-- Delete Form -->
            <form action = "/urls/<%= i %>/delete" method = "POST" style = "display: inline-block; margin-left: 15px;">
              <input type = "submit" value = "Delete URL">
            </form>

            <!-- Update Form -->
            <!-- <form action = "/urls/<%= i %>/update" method = "POST" style = "display: inline-block; margin-left: 15px;">
              <input name = "updateURL" type = "text" id = "updateURL" placeholder = "http://" value = "<%= urls[i] %>">
              <input type = "submit" value = "Update URL">
            </form> -->
        </li>
        <% }; %>

      </ul>

      <!-- Appending new URLs to the /urls path -->
      <form action = "/urls" method = "POST">

        <label for = "longURL">Enter a <code>URL</code>:</label>

          <input id = "longURL" type = "text" name = "longURL" placeholder = "http://" style = "width: 300px;">
          <input type = "submit" value = "Submit">

      </form>


  </body>


</html>